@model IEnumerable<DisapeardPeople.MVC.Models.DisappearPerson>
@using DisapeardPeople.MVC.Data.Enum


@{
    ViewData["Title"] = "Index";
}

<h1>Lista osób zaginionych</h1>
@using (Html.BeginForm("Index", "DisappearPersons", FormMethod.Get))
{
    <div class="form-group">
        @Html.Label("Płeć:")
        @Html.DropDownList("genderFilter", Enum.GetValues(typeof(Gender)).OfType<Gender>().Select(x => new SelectListItem
        {
            Text = x.ToString(),
            Value = x.ToString(),
            Selected = (Context.Request.Query["genderFilter"] == x.ToString())
        }), "Wszystkie")
        <button type="submit" class="btn btn-primary">Filtruj</button>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisappearDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Province)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisappearDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Province)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                <img src="@("~/Image/"+item.Image)" asp-append-version="true" width="150" height="150" />
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                @if (User.IsInRole("admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                }

            </td>
        </tr>
}
    </tbody>
</table>
